// Variables 
@import "./styles/variables/variables";

// Example Setup
@import "./styles/base/base";
@import "./styles/components/component";

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.square {
    border-style: solid;  
    text-align: center;
}

.value {
    margin: 30%;
}

.title {
    text-align: center;
    margin-bottom: 5%;
    margin-top: -10%;
    font-size: 3rem;
}

.score {
    margin: 2%;
    font-size: 1rem;
    border-style: solid;
    border-style: solid;
    width: 20%;
}