// Variables 
@import "./styles/variables/variables";

// Example Setup
@import "./styles/base/base";
@import "./styles/components/component";

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.square {
    border-style: solid;  
    text-align: center;
}

.value {
    margin: 30%;
    font-size: 3rem;
}

.title {
    text-align: center;
    margin-right: 20%;
    font-size: 5rem;
}

.score {
    margin: 2%;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-style: solid;
    // width: 20%;
    // height: 20%;
}

.XState {
    padding-top: 5%;
}

.state {

}

.rules {
    font-size: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 80%;
}

.button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 20%;
    margin-bottom: 2%;
}

.button:hover {
    background-color: #3f51b5; /* Green */
    color: white;
  }