// Variables 
@import "./styles/variables/variables";

// Example Setup
@import "./styles/base/base";
@import "./styles/components/component";

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.board {
    max-height: 70%;
    max-width: 80%;
    margin-left: 10%;
}

.square {
    border-style: solid;  
    text-align: center;
}

.value {
    margin: 30%;
    font-size: 3rem;
}

.title {
    text-align: center;
    position: absolute;;
    top: -40%;
    left: 40%;
    font-size: 5rem;
}

.score {
    margin: 1%;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    border-style: solid;
    border-style: solid;
    height: 140px;
}

.state {
    margin-top: 8%;
    top: 70%;
    left: 5%;
}

.drawState {
    position: absolute;
    left: 5%;
}

.rules {
    font-size: 2rem;
    margin-left: 10%;
}


.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 150px;
    position: relative;
}

.button {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 20%;
    margin-bottom: 2%;
}

.button:hover {
    background-color: #3f51b5;
    color: white;
  }